.statisticPage{
    height: 100%;
    width: 100%; 
    display: flex;
  
    background-color: #e2e2e2;
}

.statistic_wrapper{
    width: 100%;
    margin: 20px;
    
    margin-right: 0px;
    overflow-y: auto;
    overflow-x: hidden;



}

.header{
    margin: 0px 0px 20px 20px;
    width: 95%;
    display: flex;
    justify-content: end;
    align-items: center;
}


.form_meditation{
    background-color: white;
    color: black;
    width: 30%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 15px;
}

.form_meditation form{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    margin-left: 5%;
    width: 100%;


}

.formItem{
    display: flex;
    gap: 15%;
    text-align: start;
    margin-bottom: 5px;
    width: 100%;
    margin-right: 25px;
}

label{
    width: 35%;
}


.form_meditation input[type='text']{
    background-color: #fff;
    outline: none;
    width: 100%;
    color: black;
    border: 1px solid black;
    padding-left: 5px;
}


.form_meditation input{
    background-color: #fff;
    outline: none;
    width: 100%;
    color: black;
    border: 1px solid black;
}

.form_meditation textarea{
    background-color: #fff;
    outline: none;
    border: 1px solid black;
    resize: none;
    width: 100%;
    
    color: black;
    
    padding: 5px;
}

.fileInput{
    padding: 10px;
    outline: none;
    border: none;
}

.btnUpload{
    margin-top: 15px;
}


.main_wrapper{
    display: flex;
    height: 600px;
    gap: 3%;
    width: 100%;
    margin-left: 2%;
}


.form_meditation_delete{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 45%;
    background-color: #fff;
    color: black;
    padding: 15px 35px;
    border-radius: 15px;
    margin-bottom: 1%;
}


.form_meditation_delete input {
    background-color: #fff;
    color: #000;
    padding-left: 5px;
    outline: none;
    border: 1px solid black;
}


.form_meditation_list{

    overflow: auto;
    height: 34%;
    color: black;
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    padding: 15px;

}

.form_meditation_list input {
    background-color: #fff;
    color: #000;
    padding-left: 5px;
    margin-bottom: 8%;
    outline: none;
    border: 1px solid black;
    margin-left: 20%;
}




.form_meditation_category{
    background-color: white;
    color: black;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 15px;
    margin-bottom: 1%;
}

.form_meditation_category form{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    margin-left: 5%;
    width: 100%;


}



.form_meditation_category input[type='text']{
    background-color: #fff;
    outline: none;
    width: 100%;
    color: black;
    border: 1px solid black;
    padding-left: 5px;
}


.form_meditation_category input{
    background-color: #fff;
    outline: none;
    width: 100%;
    color: black;
    border: 1px solid black;
}

.form_meditation_category textarea{
    background-color: #fff;
    outline: none;
    border: 1px solid black;
    resize: none;
    width: 100%;
    
    color: black;
    
    padding: 5px;
}