.navbar{
    width: 15%;
    border-right: 1px solid lightgray;
    height: 100%;
    background-color: rgb(29, 28, 28);
}

.navbar_side_wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    margin-top: 30px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.navbar_item{
    cursor: pointer;

}

.navbar_item p{
   padding: 10px;
   text-decoration: underline;


}

.active{
    background-color: rgb(142, 142, 157);
}