.statisticPage{
    height: 100%;
    width: 100%; 
    display: flex; 
    overflow: hidden;
    background-color: #e2e2e2;
}

.title{
    color: white;
    font-size: 10px;
    width: 210px;
    padding: 25px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.statistic_wrapper{
    width: 85%;
    overflow: auto;
    overflow-x: hidden;
    padding-top: 20px;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.registrationForm_button_wrapper{
    padding-right: 25px;
    margin-right: 10px;
}

.form_wrapper{
    width: 70%;
}

.formOption{
    margin-left: 6%;
    margin-right: 6%;
    padding-left: 10px;
    background-color: #fff;
    outline: none;
    border: 1px solid black;
    color: black;
    width: 30%;
    height: 40px;
    font-size: 16px;

}

option{
    padding: 10px;
}

.grid_container_about{
    display: grid;
    grid-template-columns: repeat(7, 0.3fr);
    overflow: auto;
    background-color: rgb(37, 36, 36);
    margin: 15px;
    opacity: 0.8;
    gap: 5px;
    background-color: rgb(197, 195, 195);
}

.grid_container_about_more_wrapper{
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    overflow: auto;
    background-color: rgb(37, 36, 36);
    opacity: 0.8;
    gap: 5px;
    background-color: rgb(197, 195, 195);
    padding-left: 5%;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(7, 0.3fr);
    padding: 10px;
    overflow: auto;
    background-color: rgb(37, 36, 36);
    margin: 8px;
    opacity: 0.8;
    gap: 0px;
    background-color: white;
    border: 0.1px solid rgb(141, 137, 137);

  }
  
.grid_item {
    color: black;
    width: 100%;
    min-width: 100px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    box-sizing: border-box;
  }

@media (max-width: 1100px) {
    
    .grid_container {
        display: grid;
        grid-template-columns: repeat(7, 0.3fr);
        padding: 10px;
        margin-left: 0;
    }
}

.registrationForm_button_find_orders{
    width: 115%;
}



.statistic_wrapper{
    position: relative;
    z-index: 999;
}
.backgroundGif{
    position: absolute;
    left: 25%;
    top: 10%;
    z-index: -1;
}

.grid_container_about_more{
    display: flex;
    flex-direction: column;

    
}

.grid_container_about_more{
    background-color: #fff;
    color: black;
}

.unactive {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

/* Конечное состояние (видимое) */
.active {
    padding: 0px 0px 30px 0px;
    margin: 15px;

    opacity: 1;
    transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
}

.grid_item_more {
    color: black;
    width: 100%;
    min-width: 100px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 18%;
    gap: 10px;
    padding-top: 10px;

  }
